<div class="jumbotron">
<%= form_for @dialogue do |f| %>

    <label>Title</label>
    <%= f.text_field :title, class: "col-md-2 col form-control" %>

    <label>Image (Must be 2:1 W x H)</label>
    <%= f.file_field :dialoguepic, class: "col-md-2 col form-control" %>

    <label>Interviewee</label>
    <%= f.text_field :interviewee, class: "col-md-2 col form-control" %>

    <label>Video Link</label>
    <%= f.text_field :video_link, class: "col-md-2 col form-control" %>

    <%= f.submit class: "btn btn-success" %>
    <%= link_to "Back", new_event_path, :class => "btn btn-outline-primary" %>

<% end %>
</div>