<style type="text/css">
    footer {
        margin-top: 100px;
    }
</style>

<br><br><br>
<div class="container table-container">
    <div class="row">
        <div class="col-md-5 col-12">
            <h1 class="demi">Events Table</h1>
            <hr>
            <%= link_to '<i class="fas fa-calendar-day" ></i> Create New Event'.html_safe, new_event_path, class: "btn btn-success mb-4" %>
            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="events-table" class="display">
                <thead>
                    <tr>
                        <th>Event Title</th>
                        <th>Date Time</th>
                        <th>Venue</th>
                        <th>Action</th>
                    </tr>
                </thead>
            <% Event.all.each do | event | %>
            <tbody>
                <tr>
                    <td><%= event.title %></td>
                    <% if event.datetime.to_time != nil %>
                    <td><%= event.datetime.to_time.strftime("%d %b %Y, %I:%M %p") %></td>
                    <% end %>
                    <td><%= event.venue %></td>
                    <td><%= link_to 'Edit', edit_event_path(event), class: 'btn btn-warning' %>
                        <%= link_to 'Delete', event_path(event), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %></td>
                </tr>
            </tbody>
            <% end %>
            </table>
        </div>
    </div>
</div>