<div class="bg">
    <div class="event-top-holder">
        <div class="heading-holder container">
            <h1 class="general-heading">Our Events</h1>
            <p class="sub-heading">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Cras justo odio.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="event-btn-holder" align="center">
        <div class="col-12 tab">
            <button class="btn col-4 col-md-2 event-status upcoming tablinks" onclick="openEvents(event, 'upcoming')" id="defaultOpen">Upcoming</button>
            <div class="col-1"></div>
            <button class="btn col-4 col-md-2 event-status past tablinks" onclick="openEvents(event, 'past')">Past</button>
        </div>
    </div>

    <!-- Upcoming -->

    <section id="upcoming" class="tabcontent">
        <div class="row">

            <% if @upcoming.present? %>
            <% @upcoming.each do | event | %>
            <div class="col-md-4 col-12">
                <div class="card">
                    <%= image_tag(event.eventpic.url, class: "card-img-top img-fluid", height: "160px", width: "100%") %>
                    <div class="card-body" style="height: 180px; padding-bottom: 0;">
                        <h5 class="card-title"><%= event.title%></h5>
                        <p class="card-text-when"><%= event.datetime.to_datetime.strftime("%A, %b %m - %I:%M %p") %>
                        </p>
                        <p class="card-text-venue"><%= event.venue %></p>
                    </div>
                    <div class="card-body" style="padding-top: 0;">
                        <%= link_to "Find Out More!", event.link, class: "col btn text-white", target: "_blank" %>
                    </div>
                </div>
            </div>
            <% end %>

            <% else %>

            <div class="col-12 shadow-sm jumbotron bg-light py-4">
                <h3 class="light">Hey there... We do not have any upcoming events. Stay tuned and feel free to check our previous events!</h3>    
            </div>
            
            <% end %>
        </div>
    </section>

    <!-- Past -->
    <section id="past" class="tabcontent">
        <div class="row">
            <% @past.each do | event | %>
            <div class="col-md-4 col-12">
                <div class="card">
                    <%= image_tag(event.eventpic.url, class: "card-img-top img-fluid", height: "160px", width: "100%") %>
                    <div class="card-body" style="height: 180px; padding-bottom: 0;">
                        <h5 class="card-title"><%= event.title%></h5>
                        <p class="card-text-when"><%= event.datetime.to_datetime.strftime("%A, %b %m - %I:%M %p") %>
                        </p>
                        <p class="card-text-venue"><%= event.venue %></p>
                    </div>
                    <div class="card-body" style="padding-top: 0;">
                        <%= link_to "Find Out More!", event.link, class: "col btn text-white", target: "_blank" %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </section>
    <div class="row">
        <hr class="col-md-4 col-6 pt-3 pb-3">    
    </div>
    
    <h1 class="section-heading col-12 pt-0 mt-0">Talk with International Advisory Council</h1>
    
    <div class="row">
        <div class=" col-12">
            <div class="jumbotron iac-cards">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <img src="https://pbs.twimg.com/media/Dmbvv_hX4AAii8i.jpg" class="img-fluid" />
                    </div>

                    <div class="col-md-7 col my-auto">
                        <h2 class="card-title"><span style="font-family: 'Medium';">Your Ego is Limiting your upside</span></h2>
                        <p class="card-title">The GaryVee Audio Experience @ ROKU</p>
                        <button class="btn btn-primary">Play Video</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class=" col-12">
            <div class="jumbotron iac-cards">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <img src="https://pbs.twimg.com/media/Dmbvv_hX4AAii8i.jpg" class="img-fluid" />
                    </div>
                    
                    <div class="col-md-7 col my-auto">
                        <h2 class="card-title"><span style="font-family: 'Medium';">Your Ego is Limiting your upside</span></h2>
                        <p class="card-title">The GaryVee Audio Experience @ ROKU</p>
                        <button class="btn btn-primary">Play Video</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("defaultOpen").click();
    function openEvents(evt, eventType) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(eventType).style.display = "block";
      evt.currentTarget.className += " active";
    }

    document.getElementById("defaultOpen").click();
    function openOffice(evt, officeLoc) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(officeLoc).style.display = "block";
      evt.currentTarget.className += " active";
    }
</script>