<style type="text/css">
    .event_part a {
        text-decoration: none;
        color: black;
    }

</style>

<!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item text-center">
                            <h2>Our Events</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- breadcrumb start-->

<div class="container">
    <div class="event-btn-holder" align="center">
        <div class="col-12 tab">
            <button class="btn col-4 col-md-2 event-status upcoming tablinks" onclick="openEvents(event, 'upcoming')" id="defaultOpen">Upcoming</button>
            <div class="col-1"></div>
            <button class="btn col-4 col-md-2 event-status past tablinks" onclick="openEvents(event, 'past')">Past</button>
        </div>
    </div>

    <!-- Upcoming -->

    <section id="upcoming" class="tabcontent event_part py-4" >
        <div class="row">
            <% Event.all.each do | event | %>
                <% if event.datetime.to_time != nil %>
                <% if event.datetime.to_time > Time.now %>
                <%= link_to event.link, class: "col-sm-6" do %>
                    <div class="single_event media">
                        <%= image_tag event.eventpic.url, width: "225px", class: "align-self-center" %>
                        <div class="tricker"><%= event.datetime.to_time.strftime("%I:%M %p") %></div>
                        <div class="media-body align-self-center">
                            <h5 class="mt-0"><%= event.title %></h5>
                            <p><i class="fas fa-map-marker-alt"></i> <%= event.venue %></p>
                            <ul>
                                <li><span><%= event.datetime.to_time.strftime("%d %b %Y") %></span>Date</li>
                                <li><span><%= event.datetime.to_time.strftime("%A") %></span>Day</li>
                            </ul>
                        </div>
                    </div>
                <% end %>
                <% end %>
                <% end %>
            <% end %>
        </div>
    </section>

    <!-- Past -->
    <section id="past" class="tabcontent event_part pt-3">
        <%= render 'layouts/event/past' %>
    </section>
    
    <section class="mb-4 pb-4">
    <h1 class="section-heading col-12 pt-0 mt-0">Talk with International Advisory Council</h1>
    
    <% Dialogue.all.each do |dialogue| %>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron iac-cards my-2">
                <div class="row">
                    <div class="col-md-4 col-12">                        
                        <%= image_tag dialogue.dialoguepic.url, class: "img-fluid" %>
                    </div>

                    <div class="col-md-7 col my-auto">
                        <h2 class="card-title pt-4 pb-0"><span class="medium"><%= dialogue.title %></span></h2>
                        <p class="card-title my-0"><%= dialogue.interviewee %></p>
                        
                        <%= link_to "Play Video", dialogue.video_link, :class => "btn btn-primary mt-2 mb-4", target: "_blank" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>

    </section>
    <br><br>

</div>

<script type="text/javascript">
    document.getElementById("defaultOpen").click();
    function openEvents(evt, eventType) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(eventType).style.display = "block";
      evt.currentTarget.className += " active";
    }

    document.getElementById("defaultOpen").click();
    function openOffice(evt, officeLoc) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(officeLoc).style.display = "block";
      evt.currentTarget.className += " active";
    }
</script>