
<!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item text-center">
                            <h2>AMEU Research</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- breadcrumb start-->

<!-- Main Content -->
<div class="container py-4 my-4">
  <div class="row pb-4">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @econsiders.each do |econsider| %>
      <div class="post-preview">
          <%= link_to econsider_path(econsider) do %>
            <h2 class="post-title"><%= econsider.title %></h2>
            <h3 class="post-subtitle"><%= econsider.post_heading %></h3>
          <% end %>
        <p class="post-meta">Posted by <%= econsider.author %> on <%= econsider.created_at.strftime("%B %d, %Y") %></p>
      </div>
      <hr>
      <% end %>
    </div>
  </div>
</div>