<!-- Page Header -->
<header class="masthead" style="background-image: url('https://www.yu.edu/sites/default/files/Economics-538811846.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1 class="general-heading">AMEU Research</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @econsiders.each do |econsider| %>
      <div class="post-preview">
          <%= link_to econsider_path(econsider) do %>
            <h2 class="post-title"><%= econsider.title %></h2>
            <h3 class="post-subtitle"><%= econsider.post_heading %></h3>
          <% end %>
        <p class="post-meta">Posted by <%= econsider.author %> on <%= econsider.created_at.strftime("%B %d, %Y") %></p>
      </div>
      <hr>
      <% end %>
    </div>
  </div>
</div>