<!-- Page Header -->
<header class="masthead" style="background-image: url('<%= @econsider.postimg.url %>')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading post-title">
          <h1><%= @econsider.title %></h1>
          <h2 class="subheading post-subtitle"><%= @econsider.post_heading %></h2>
          <span class="meta post-meta">Posted by <%= @econsider.author %> on <%= @econsider.created_at.strftime("%B %d, %Y") %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p><%= @econsider.post.html_safe %></p>
      </div>
    </div>
  </div>
</article>