<style type="text/css">
    a {
        text-decoration: none !important;
    }

    ul li a {
        color: white;
    }
    #footer {
        background-color: #111;
        color: white;
    /*    height: 200px;*/
        padding: 60px 0;
        font-family: "Light";
    }
    #footer hr {
        background-color: white;
    }

    .foot-notes {
        font-size: 14px;
    }

    .social-holder {
        display: block;
        width: auto;
    }

    .socials {
        display: inline-block;
    /*    padding: 20px;*/
        width: 50px;
        height: 50px;
        text-align: center;
        padding: 12px;
        border-radius: 50%;
        font-size: 20px;
        margin: 0 10px 0 0;
        transition: 0.2s;
        background-color: white;
        color: black;
    }

    .socials:hover {
    /*    background-color: black;*/
        color: white;
        transform: scale(1.15);
    }

    .facebook {
        color: #3b5998;
    }

    .facebook:hover {
        background-color: #3b5998;
    }

    .instagram {
        color: #FD1D1D;
    }

    .instagram:hover {
        background-color: #FD1D1D;
    }

    .linkedin {
        color: #0077B5;
    }

    .linkedin:hover {
        background-color: #0077B5;
    }

    .credits {
        text-align: right;
        padding-top: 0px;
    }

    .credits p {
        margin-bottom: 0;
        font-size: 16px;
    }

    #footer hr {
        background-color: white;
        opacity: 0.3;
        margin: 10px 0;
    }

    #footer ul {
        list-style: none;
        padding: 0px;
    }

    #footer ul li {
        font-family: "Light";
        font-size: 16px;
        line-height: 2;
    }

    #footer .sub-heading {
        padding-top: 20px;
    }
</style>
<footer class="container-fluid" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <p class="sub-heading dodgerblue medium">Follow Us</p>
                <div class="my-3">
                    <a href="https://www.facebook.com/ameunetwork/" target="_blank">
                        <div class="socials facebook">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/ameunetwork/" target="_blank">
                        <div class="socials instagram">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/company/ameu/" target="_blank">
                        <div class="socials linkedin">
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </a>
                </div>  
            </div>

            <div class="col-md col-6">
                <p class="sub-heading dodgerblue medium">Know More</p>
                <ul>
                    <li><%= link_to "Who We Are", about_path %></li>
                    <li><%= link_to "Events", events_path %></li>
                    <li><%= link_to "Our Members", members_path %></li>
                    <li>Student Guides</li>
                    <li><%= link_to "AMEU Research", econsiders_path %></li>
                </ul>
            </div>

            <div class="col-md col-6">
                <p class="sub-heading dodgerblue medium">Get In Touch</p>
                <ul>
                    <li>Apply to join</li>
                    <li><%= link_to "Contact Us", contact_path %></li>
                </ul>
            </div>

        </div>
        <hr class="my-4">
        <p class="text-white lead foot-notes">Copyright &copy; <span id="year"></span> AMEU. <span class="float-right">All Rights Reserved.</span></p>
    </div>
</footer>

<script>
  var d = new Date();
  var n = d.getFullYear();
  document.getElementById("year").innerHTML = n;
</script>