<!DOCTYPE html>
<html>
  <head>
    <title>AMEU Network</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='cache-control' content='no-cache'>
    <link rel="icon" href="https://static.wixstatic.com/media/57a846_f9355a8c5029418d8413d265a86c6abc~mv2.png_srz_320_320_75_22_0.5_1.20_0.00_jpg_srz">
    

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', async: true, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/143b576c93.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  </head>

  <body>

    <%= render 'layouts/new_nav' %>
    <%= yield %>
    <%= render 'layouts/footer' %>


  </body>

  <script type="text/javascript">
      $( document ).on('turbolinks:load', function() {
          $('#econsiders-table').DataTable();
          $('#events-table').DataTable();
          $('#dialogues-table').DataTable();
          $('#members-table').DataTable();
        } );

  </script>

</html>
