<style type="text/css">
    footer {
        margin-top: 100px;
    }
</style>

<br><br><br>
<div class="container table-container">
    <div class="row">
        <div class="col-md-5 col-12">
            <h1 class="demi">Members Table</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="members-table" class="display">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Region</th>
                        <th>Office</th>
                        <th>Action</th>
                    </tr>
                </thead>
            <% Member.all.each do |member| %>
            <tbody>
                <tr>
                    <td><%= member.name %></td>
                    <td><%= member.region %></td>
                    <td><%= member.office %></td>
                    <td><%= link_to 'Edit', edit_member_path(member), class: 'btn btn-warning' %>
                        <%= link_to 'Delete', member_path(member), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %></td>
                </tr>
            </tbody>
            <% end %>
            </table>
        </div>
    </div>
</div>
