<!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item text-center">
                            <h2>AMEU Leadership</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- breadcrumb start-->

<div class="container">
    <div class="event-btn-holder" align="center">
        <div class="row tab">
            <!-- <button class="btn col-4 col-md-2 event-status past tablinks" onclick="openOffice(event, 'iac')">IAC</button> -->
            
            <button class="btn col-5 col-md-3 event-status upcoming tablinks" onclick="openOffice(event, 'uk-ireland')" id="defaultOpen">UK &amp; Ireland</button>
            <div class="col"></div>
            <button class="btn col-5 col-md-3 event-status past tablinks" onclick="openOffice(event, 'malaysia')">Malaysia</button>
            
        </div>
    </div>

    <section id="uk-ireland" class="tabcontent">
        <div class="row justify-content-center">

            <h2 class="general-heading col-12">Presidential Office</h2>
            <% @uk.where("office = 'Presidential Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
            
            <h2 class="general-heading col-12">Secretarial Office</h2>
            <% @uk.where("office = 'Secretarial Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
            
            <h2 class="general-heading col-12">Finance Office</h2>
            <% @uk.where("office = 'Finance Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>

            <h2 class="general-heading col-12">Corporate Relations Office</h2>
            <% @uk.where("office = 'Corporate Relations Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>

            <h2 class="general-heading col-12">Events Office</h2>
            <% @uk.where("office = 'Events Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
            
            <h2 class="general-heading col-12">Human Capital &amp; Internal Affairs Office</h2>
            <% @uk.where("office = 'Internal Affairs Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>

            <h2 class="general-heading col-12">Marketing Office</h2>
            <% @uk.where("office = 'Marketing Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>

            <h2 class="general-heading col-12">Research Office</h2>
            <% @uk.where("office = 'Research Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
            
        </div>
    </section>

    <section id="malaysia" class="tabcontent">
        <div class="row justify-content-center">

            <h2 class="general-heading col-12">Presidential Office</h2>
            <% @my.where("office = 'Presidential Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
            
            <h2 class="general-heading col-12">Secretarial Office</h2>
            <% @my.where("office = 'Secretarial Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
            
            <h2 class="general-heading col-12">Finance Office</h2>
            <% @my.where("office = 'Finance Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>

            <h2 class="general-heading col-12">Corporate Relations Office</h2>
            <% @my.where("office = 'Corporate Relations Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>

            <h2 class="general-heading col-12">Events Office</h2>
            <% @my.where("office = 'Events Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
            
            <h2 class="general-heading col-12">Human Capital &amp; Internal Affairs Office</h2>
            <% @my.where("office = 'Internal Affairs Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>

            <h2 class="general-heading col-12">Marketing Office</h2>
            <% @my.where("office = 'Marketing Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>

            <h2 class="general-heading col-12">Research Office</h2>
            <% @my.where("office = 'Research Office'").each do |member| %>
            <div class="col-md-3 col-12">
                <div class="card member-card" align="center">
                    <%= image_tag member.profpic.url, class: "rounded-circle", width: "60%" %>
                    <p class="member-name"><%= "#{member.name}"%></p>
                    <p class="member-title"><%= member.designation %></p>
                    <div class="member-social">
                        <p>
                            <% if member.facebook.length > 1 %>
                            <%= link_to "#{member.facebook}" do %>
                                <i class="fab fa-facebook-f"></i>
                            <% end %>
                            <% end %>

                            <% if member.linkedin.length > 1 %>
                            <%= link_to "#{member.linkedin}" do %>
                                <i class="fab fa-linkedin-in"></i>
                            <% end %>
                            <% end %>

                            <% if member.email.length > 1 %>
                            <%= mail_to "#{member.email}" do %>
                                <i class="far fa-envelope"></i>
                            <% end %>
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
            
        </div>
    </section>
    
</div>

<script type="text/javascript">
    document.getElementById("defaultOpen").click();
</script>