<style type="text/css">
    label {
        font-family: "Medium";
    }
    footer {
        margin-top: 100px;
    }
</style>

<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-5 col-12">
            <h1 class="demi">Create New Member</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-12 py-4">
        <%= form_for @member do |f| %>

            <label>Name</label>
            <%= f.text_field :name, class: "col form-control", :required => true %>
        
            <label>Headshot</label>
            <%= f.file_field :profpic, class: "col form-control", :required => true %>

            <label>Designation</label>
            <%= f.text_field :designation, class: "col form-control" %>

            <label>Region</label>
            <%= f.text_field :region, class: "col form-control", list: "regions", :required => true %>
            <datalist id="regions">
                <option>UK</option>
                <option>MY</option>
            </datalist>

            <label>Office</label>
            <%= f.text_field :office, class: "col form-control", list: "offices", :required => true %>
            <datalist id="offices">
                <option>Presidential Office</option>
                <option>Secretarial Office</option>
                <option>Finance Office</option>
                <option>Corporate Relations Office</option>
                <option>Events Office</option>
                <option>Human Capital & Internal Affairs Office</option>
                <option>Marketing Office</option>
                <option>Research Office</option>
            </datalist>

            <label>Facebook</label>
            <%= f.text_field :facebook, class: "col form-control" %>

            <label>Linkedin</label>
            <%= f.text_field :linkedin, class: "col form-control" %>

            <label>Twitter</label>
            <%= f.text_field :twitter, class: "col form-control" %>

            <label>Instagram</label>
            <%= f.text_field :ig, class: "col form-control" %>

            <label>Email</label>
            <%= f.text_field :email, class: "col form-control" %>

            <%= f.submit class: "btn btn-success" %>
            <%= link_to "Back", all_members_path, :class => "my-3 btn btn-outline-primary" %>

        <% end %>
        </div>
    </div>
</div>